case position
    when 'top'
        section(class=style.root style='bottom: calc(100% + 22px);')
            div(class=style.inner sytle=width data-parent-for='content')
    when 'bottom'
        section(class=style.root style='top: calc(100% + 22px); right: 0;')
            div(class=style.inner sytle=width data-parent-for='content')