section(class=style.root)
    header(class=style.header)
        div(data-parent-for='imageAvatar')
        h1(class=style.headerText) Чат
        div(class=style.actions data-parent-for='popupChatActions')
    div(data-parent-for='dividerHeader')
    section(class=style.chat)
        each meta in messagesMeta
            case meta.type
                when 'message'
                    div(class=style.messageWrapper data-parent-for='message_'+meta.id)
                when 'myMessage'
                    div(class=style.myMessageWrapper data-parent-for='message_'+meta.id)
                when 'date'
                    h3(class=style.date)= meta.dateValue
    div(data-parent-for='dividerFooter')
    footer(class=style.footer data-parent-for='sendMessageForm')
