link(rel='stylesheet', href='../../component/inputString/inputString.css')

mixin inputString(labelName, inputId, inputType='text', defaultValue='')
    section(class='inputString '+(typeof attributes.class === 'undefined' ? '' : ' '+attributes.class))
        label.inputString__label=labelName
        input(id=inputId, name=inputId, type= inputType, autocomplete='on', value=defaultValue class=('inputString__input'+(typeof attributes.class === 'undefined' ? '' : ' '+attributes.class)))

mixin inputStringWithoutId(labelName, inputName, inputType='text', defaultValue='')
    section(class='inputString '+(typeof attributes.class === 'undefined' ? '' : ' '+attributes.class))
        label.inputString__label=labelName
        input(name=inputName, type= inputType, autocomplete='on', value=defaultValue class=('inputString__inputWithoutId'+(typeof attributes.class === 'undefined' ? '' : ' '+attributes.class)))