section(class=style.root)
    div(class=style.imageAvatar data-parent-for='imageAvatar') #{imageAvatar}
    div(class=style.contentWrapper data-parent-for='name,previewText')
    div(class=style.addInfo)
        time(class=style.timeLastMessage) #{timeLastMsg}
        div(class=style.unreadedMessagesCount) #{unreadedMsgCnt}

