section(class=style.root)
    ul(class=style.list)
        each id in itemIds
            hr(class=style.divider)
            div(class=style.itemWrapper data-parent-for='item_'+id)
        hr(class=style.divider)
