include ../../component/inputString/inputStringMix.pug
include ../../component/buttonMain/buttonMain.pug
link(rel='stylesheet', href='../../component/modalAddRemoveUser/modalAddRemoveUser.css')

mixin modalAddRemoveUserView(modalId, headerText, buttonText)
    .modalAddRemoveUser__outerWrapper.modalAddRemoveUser_close(id=modalId)
        .modalAddRemoveUser__closeElem(id=modalId + '__close')
        section.modalAddRemoveUser(id=modalId)
            h2.modalAddRemoveUser__header= headerText
            form(id=modalId + '__form')
                .modalAddRemoveUser__input
                    +inputStringWithoutId("Логин", "login")
                .modalAddRemoveUser__submit
                    +buttonMain()(type='submit', id=modalId + '__submit')= buttonText

mixin modalAddRemoveUser(type)
    case type
        when 'add'
            +modalAddRemoveUserView('modalAddUser', 'Добавить пользователя', 'Добавить')
        when 'remove'
            +modalAddRemoveUserView('modalRemoveUser', 'Удалить пользователя', 'Удалить')